<section class="h-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                   <%= image_tag("logos/logo.png",:class=>"h") %>
                  <h4 class="mt-1 mb-5 pb-1">Students Portal</h4>
                </div>
              
                <%= form_with(scope: :session ,url: login_path , class:"row g-3  p-1 mt-3  ") do |form|  %>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <%= form.label :email,{class: "form-label"}%>

                     <%=form.email_field :email, {class: "form-control",placeholder:"enter your email",:required=>true}%>
                  </div>

                  <div class="form-outline mb-2">
                   <%=form.label :password, {class: "form-label"}%>

                  <%=form.password_field :password ,{class: "form-control",placeholder:"enter password",:required=>true}%>
                  </div>
                  <div class="col-12">
                  <div class="text-center pt-1 mb-3 pb-1">
                    <%= form.submit 'log in', class: "btn btn-outline-success btn-block" %>
                   </div>
                   </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-success"><%=link_to "create new",signup_path,:class=>"nav-link"%></button>
                  </div>

                <%end%>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center log-text ">
             <%= image_tag("home/loger.png",:class=>"img-fluid")%>
   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>