<section id="main-content">
<div class="container">
  <div class="row">
   <div class="col-md-6">
        <div class="row align-items-center h-100">
            <div class="col-12">
            <h1 class="display-8 fw-bold">Help Students <br>Reach Their Full <br> Potential</h1>
            <p class="lead fst-normal">A new way to assist student meet objectives  as per their project document documentation.
                           
            </p>
        <button type="button" class="btn btn-outline-success btn-lg">Learn</button>
            </div>

            
        </div>

        </div>
    
   <div class="col-md-6 mt-4 middle">
        <div class="home-image">
         <%= image_tag("home/cover.png")%>
           
         </div>
         <div>
           <p class="image-text"> Quia consequuntur accusamus dolorum.</p>
         </div>
        </div>
        </div>

</section>
<section id="instructor-carousel">
<div class="container-xl">
	<div class="row">
		<div class="col-sm-12">
			<h2>Instrctors <b>Comments</b> about the System</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<%= image_tag("logos/logo.png")%>
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<%= image_tag("logos/logo.png")%>
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<%= image_tag("logos/logo.png")%>
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<%= image_tag("logos/logo.png")%>
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>Mary Saveley</b>, Web Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-6">
								<div class="media">
									<img src="/examples/images/clients/5.jpg" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
											<p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
											<p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="media">
									<img src="/examples/images/clients/6.jpg" class="mr-3" alt="">
									<div class="media-body">
										<div class="testimonial">
											<p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
											<p class="overview"><b>John Williams</b>, Web Developer</p>
										</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>