<% @projects.each do |project| %>
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card text-center shadow mb-2 bg-white rounded">
                <div class="card-header font-italic"> <span style="text-transform:UpperCase;font-weight:900">
            Topic: <%= project.title if project.student %>  </span>

                </div>
                <div class="card-body d-flex justify-content-around text-center">
                    <div class="card-text text-start">
                        <%= simple_format(project.description) %>
                    </div>


                    <div class="image-u ">
                        <%= image_tag(project.document_upload ,class:"image-u") if project.document_upload.present?%>
                    </div>
                </div>
                <%= link_to "Destroy", project_path(project), data: { 'turbo_method': :delete,turbo_confirm: "Are you sure?" } %>
                    <div class="card-footer text-muted">
                        <small>Submitted <%= time_ago_in_words(project.created_at) %> ago,
            edited <%= time_ago_in_words(project.updated_at) %> ago</small>
                    </div>
            </div>
        </div>
    </div>
    <% end %>