
<div class="row ">

  <div class="col-md-12 m-6 p-6">

    <%= form_with(model: instructor , class:"row g-3  p-1 mt-3  ") do |form|  %>
    
      <div class="col-md-6 ">

        <%= form.label :name, {class: "form-label"}%>
        <%= form.text_field :name ,{class: "form-control"} %>

      </div>

      <div class="col-md-6">

        <%= form.label :email,{class: "form-label"}%>

        <%=form.email_field :email, class: "form-control"%>

      </div>

      <div class="col-md-6">

        <%=form.label :password, {class: "form-label"}%>

        <%=form.password_field :password ,{class: "form-control"} %>

      </div>

       

      <div class="col-md-6">

        <%=form.label :instructorname, {class: "form-label"}%>

        <%=form.text_field :instructorname, {class: "form-control"}%>

      </div>

           <div class="col-md-6">

        <%= form.submit "Submit", class: "btn btn-outline-success" %>

      </div>

      <%end%>
    </div>
  </div>

 
</div>




























