<nav class="navbar navbar-expand-lg navbar-custom p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag("logos/logo.png")%></a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <%=link_to "[ Home ]",root_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "[ Student portal ]",login_path, class:"nav-link"%>
        </li>

         <li class="nav-item">

          <%=link_to "[ Instructor portal ]",instructors_path, class:"nav-link"%>
        </li>

        <li class="nav-item ">
          <%=link_to "[ Project Ideas ]",projects_path, class:"nav-link"%>
        </li>

        </ul>
         <ul class="navbar-nav">
             <li class="nav-item">
          <a class="nav-link " href="#">[ Contact Us ]</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="#">[ Help ]</a>
        </li>
        </ul>

    </div>
  </div>
</nav>
<div class="header" >

</div>
